aside {
  border: 1px solid red;
  padding: 88px 120px 120px;
  background-color: var(--gray-100);
}

examples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  border: 1px solid orange;
  margin: 0px 120px 0px;
  div {
    border: 2.5px solid var(--gray-200);
    border-radius: 12px;
    padding: 20px;
  }
  img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
  }
  h3 {
    font: var(--title-sm);
    color: var(--gray-600);
  }
}