footer {
  padding: 128px 120px 180px;
  background-image: url(../assets/Background_Contacts.png);
  background-size: contain;
  background-position: center;
}

articlel {
  border: solid 1px purple;
  h4 {
    display: flex;
    justify-content: center;
    font: var(--subtitle);
    color: var(--purple);
    margin-bottom: 8px;
  }
  h2 {
    display: flex;
    justify-content: center;
    font: var(--title-md);
    color: var(--gray-600);
    margin-bottom: 8px;
  }
  p {
    font: var(--text-md);
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }
}

links {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px;

  div {
    justify-content: space-between;
    width: 400px;
    height: 68px;
    padding: 20px;
    background-color: var(--gray-300);
    border-radius: 8px;
    display: flex;
    align-items: center;
  }

  h3 {
    
    font: 500 16px/140% var(--font-family-maven);
  }
  #seta {
    width: 20px;
    height: 20px;

  }

  finalmente {
    width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
  } 
 }


#linkedin:hover {
  border: 2px solid var(--blue)
}
#insta:hover {
  border: 2px solid var(--purple)
}
#git:hover {
  border: 2px solid var(--yellow)
}
#email:hover {
  border: 2px solid var(--red)
}

elly p {
  text-align: center;
  font: 400 19px/120%  "Loved by the King", serif;
  color: rgb(139, 129, 136);
  margin-bottom: 50px;
}