header {
  padding: 120px 163px 57px;
  border: solid 1px rgb(229, 213, 213);
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
}

#start {
  margin: 0px 180px 94px;
  border: solid 1px rgb(234, 0, 255);
}

/* Parte 1/2 */
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 35px 0px;
  border: solid 1px red;
  /* Imagem e Textos */
  img {
    width: 112px;
    height: 112px;
    margin-bottom: 56px;
  }
  h4 {
  margin-bottom: 8px;
  font: var(--subtitle);
    here {
    color: var(--red);
    }
  }
  h1 {
  margin-bottom: 20px;
  font: var(--title-lg);
  color: var(--gray-600);
  }
  p {
  color: var(--gray-400);
  text-align: center;
  margin-bottom: 80px;
  }
}

/* Parte 2/2 */

#tags {
  display: flex;
  justify-content: center;
}

#icon {
  display: flex;
  align-items: center;
}