
#projects {
  padding: 72px 120px 144px 120px;
}

article {
  h4 {
  display: flex;
  justify-content: center;
  font: var(--subtitle);
  color: var(--red);
  }
  h2 {
  display: flex;
  justify-content: center;
  font: var(--title-md);
  color: var(--gray-600);
  margin-bottom: 56px;  
  }
}

pictures {
  img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  h3 {
    font: var(--title-sm);
    color: var(--gray-600);
  }
}

