.tags-align {
  display: flex;
  align-items: center;
  background-color: var(--gray-300);
  border-radius: 999px;
  padding: 8px 16px 8px;
  img {
      width: 28px;
      height: 28px;
      padding-right: 8px;
  }
}

.tags-space {
  margin-right: 16px;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: var(--gray-300);
  border-radius: 12px;
  h3 {
    align-self: stretch;
    margin: 4px;
  }
  p {
    align-self: stretch;
    margin: 4px;
  }
}

.divs:hover{
    border: 1.5px solid var(--gray-400);
  }

  /* blue */
.blue {
  fill: #878EA1;
  width: 28px;
  height: 28px;
}
.blue:hover {
  fill: var(--blue);
  
}

  /* purple */
.purple {
  fill: #878EA1;
  width: 28px;
  height: 28px;
}
.purple:hover {
  fill: var(--purple);
  
}
  /* yellow */
.yellow {
  fill: #878EA1;
  width: 28px;
  height: 28px;
}
.yellow:hover {
  fill: var(--yellow);
  
}
  /* red */
.red {
  fill: #878EA1;
  width: 28px;
  height: 28px;
}
.red:hover {
  fill: var(--red);
  
}



